.Massimo-grosso-container {
  display: flex;
  background-color: #ffffff;
  padding: 40px;
  gap: 40px;
  max-width: 1100px;
  align-items: center;
  margin-left: 0;
  margin-right: auto;
  border-radius: 10px;
  transition: transform 0.5s ease;
}

.Massimo-grosso-img {
  flex: 1.2; /* Aumentado de 1 a 1.2 */
  overflow: hidden;
  border-radius: 20px;
  transition: transform 0.5s ease;
}

.Massimo-grosso-img img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  transition: transform 0.5s ease;
}

.Massimo-grosso-img:hover img {
  transform: scale(1.02);
}

.Massimo-grosso-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Alinea el contenido a la derecha */
  justify-content: center;
  padding-left: 130px; /* Mueve el bloque hacia la derecha */
  transition: transform 0.4s ease, color 0.4s ease;
  text-align: left; /* Alinea el texto a la derecha */
}

.Massimo-grosso-text:hover {
  transform: translateY(-5px);
  color: #bd4343;
}

.Massimo-grosso-text h2 {
  font-size: 26px;
  margin-bottom: 20px;
  color: #000000;
}

.Massimo-grosso-text p {
  font-size: 16px;
  line-height: 1.6;
  color: #000000;
}